.card {
  width: 30%;  
  box-sizing: border-box;  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.margin-right {
  margin-right: 55px;
}